/* Imagen con fondo blanco ajustada, para Iphone SE */

#imagen {
  max-width: 43%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 30px;
}
/* Mensaje de resultado ajustado a pantalla , para Iphone SE */
#resultado {
  margin-top: -10px;
  margin-left: -10px;
  flex-direction: column; /* Eje principal en vertical*/
  position: relative;
  top: 20px;
}
/* Ajustado para poder verlo en dispositivo móvil */
#bloqueletras {
  display: flex;
  flex-direction: row;    /* Eje principal horizontal  */
  min-height: 30px;
  min-width: 200px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#contenido {
  flex-direction: column;
  max-height: 100px;
  max-width: 120px;
  margin: 0 auto;
  padding: 5px;
}
/* Guiones con espacios en blanco donde se va a escribir la palabra */
#palabra_a_adivinar {
  height: 3em;
  text-align: center; /* Centra el contenido */
}
#palabra_a_adivinar span {
  vertical-align: bottom;
  font-size: 2em;
  border-bottom: 2px solid black;
  width: 20px;
  text-align: center;
  margin-right: 6px;
  display: inline-block; /* Combina bloques del widht y height */
}

/* Media Query para otros dispositivos*/
@media screen and (max-width: 1440px) {
  #palabra_a_adivinar span {
    font-size: 1.5em;
    width: 20px;
    margin-right: 4px;
  }  
}
/* Estas etiquetas deben estar en el archivo ahorcado.js debidamente referenciadas para el correcto funcionamiento, si no no va a funcionar/*
/*Se maqueta primero desde dispositivo móviles a tamaños de pantalla mas grandes/*
 
